<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @improvement.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @improvement.description %>
</p>

<p>
  <strong>Is private:</strong>
  <%= @improvement.is_private %>
</p>

<p>
  <strong>Estimated effort:</strong>
  <%= @improvement.estimated_effort %>
</p>

<p>
  <strong>Actual effort:</strong>
  <%= @improvement.actual_effort %>
</p>

<p>
  <strong>Status:</strong>
  <%= @improvement.status %>
</p>

<div>
  <strong>Comments</strong>
  <table>
  <% @comments.each do |comment| %>
    <tr>
      <td>
        <p>
          <strong><%= comment.user.name %></strong>
        </p>
        <p><%= comment.body %></p>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<%= link_to 'Add Comment', new_improvement_improvement_comment_path(@improvement) %> |
<%= link_to 'Edit', edit_improvement_path(@improvement) %> |
<%= link_to 'Back', improvements_path %>
